<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Document Name</th>
            <th scope="col">Document Type</th>
            <th scope="col">Uploaded Time</th>
            <th scope="col">View</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
