<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong>Personal Details</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="row">

            <input id="id_job_category" type="hidden">

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Salutation</label>
                <input cFormControl
                       id="job_category_name"
                       placeholder="Enter a salutation"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>First Name</label>
                <input cFormControl
                       id="job_category_description"
                       placeholder="Enter a first name"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Last Name</label>
                <input cFormControl
                       id="job_cateds"
                       placeholder="Enter a last name"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Initials</label>
                <input cFormControl
                       id="job_casteds"
                       placeholder="Enter initials"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Gender</label><br>
                <input type="radio" value="one" style="cursor:pointer;">
                <label cFormCheckLabel>Male</label>

                <input type="radio" value="two" style="cursor:pointer;"/>
                <label cFormCheckLabel>FeMale</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Date of birth</label>
                <input cFormControl
                       id="job_cassteds"
                       type="Date"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Maritial Status</label><br>
                <input type="radio" value="one" style="cursor:pointer;">
                <label cFormCheckLabel>Single</label>

                <input type="radio" value="two" style="cursor:pointer;"/>
                <label cFormCheckLabel>Married</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>NIC</label>
                <input cFormControl
                       id="job_castweds"
                       placeholder="Enter NIC"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Passport No</label>
                <input cFormControl
                       id="job_castefds"
                       placeholder="Enter passport no"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Expected salary</label>
                <input cFormControl
                       placeholder="0"
                       id="job_castnefdzs"
                       type="Number"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Notice period</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_status">
                  <option value="-1">Select notice period</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>No</label>
                <input cFormControl
                       id="job_casretweds"
                       placeholder="Enter no"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Street No 1</label>
                <input cFormControl
                       id="job_castefdtys"
                       placeholder="Enter street no 1"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Street No 2</label>
                <input cFormControl
                       id="job_casytefdzs"
                       placeholder="Enter street no 2"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>District</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_sftrrtatus">
                  <option value="-1">Select a district</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Province</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_sftrrtasdtus">
                  <option value="-1">Select a province</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>City</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_sftrryttatus">
                  <option value="-1">Select a city</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Country</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_sftrrt2atus">
                  <option value="-1">Select a country</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Phone no</label>
                <input cFormControl
                       id="job_casfdzs"
                       placeholder="Enter phone no"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Mobile no</label>
                <input cFormControl
                       id="jobsfdzs"
                       placeholder="Enter mobile no"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Email</label>
                <input cFormControl
                       id="job_cass"
                       placeholder="Enteremail"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Language</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_stftrrt2atus">
                  <option value="-1">Select a language</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Preferred Communication</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_cateus">
                  <option value="-1">Select a preferred communication</option>
                </select>
              </div>
            </div>

          </div>
        </form>
      </c-card-body>

    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-end">
          <input cButton class="btn-sm" color="primary" type="button" value="Save All"/> &nbsp;
          <input type="button" class="btn btn-outline-dark btn-sm" value="Next>>"
                 (click)="redirectToProfessionalExperience()"/>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>


