<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong>Professional Experiences</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="row">

            <input id="id_job_category" type="hidden">

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Industry</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_cateus">
                  <option value="-1">Select an industry</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Organization</label>
                <input cFormControl
                       id="job_category_name"
                       placeholder="Enter an organization"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Job category</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_catfeus">
                  <option value="-1">Select a job category</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Designation</label>
                <input cFormControl
                       id="job_category_description"
                       placeholder="Enter a designation"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Commenced date</label>
                <input cFormControl
                       id="job_cadsssteds"
                       type="Date"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Completion date</label>
                <input cFormControl
                       id="job_cafdssteds"
                       type="Date"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-2">
                <label cLabel>Job description</label>
                <textarea cFormControl
                          id="job_czzs" rows="2" style="width: 300px"
                          placeholder="Enter a description"></textarea>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <input cButton class="btn-secondary" type="button" value="Add To List"
                       style="text-align: center; color:white; height: 30px; line-height: 1px;"/>
              </div>
            </div>

          </div>
        </form>

        <c-card-body>
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col">Organization</th>
              <th scope="col">Designation</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td><a href="#">remove</a></td>
            </tr>
            </tbody>
          </table>
        </c-card-body>

      </c-card-body>

    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-end">
          <input type="button" class="btn btn-outline-dark btn-sm" value="<<Back" (click)="redirectToBack()"/> &nbsp;
          <input cButton class="btn-sm" color="primary" type="button" value="Save All"/> &nbsp;
          <input type="button" class="btn btn-outline-dark btn-sm" value="Next>>" (click)="redirectToNext()"/>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organization</th>
            <th scope="col">Designation</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>


