<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong>School Education</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="row">

            <input id="id_job_category" type="hidden">

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Qualification</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_atus">
                  <option value="-1">Select a qualification</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Scheme</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_category_common_sftrrt2atus">
                  <option value="-1">Select a scheme</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>School/Institute</label>
                <input cFormControl
                       id="job_category_name"
                       placeholder="Enter a school"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Subject</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_categost2atus">
                  <option value="-1">Select a subject</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Grade</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_categort2atus">
                  <option value="-1">Select a grade</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Achieved on</label>
                <input cFormControl
                       id="job_cadsssteds"
                       type="Date"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Medium</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_csdtus">
                  <option value="-1">Select a medium</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Country</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_castus">
                  <option value="-1">Select a country</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-2">
                <label cLabel>Description</label>
                <textarea cFormControl
                          id="jobsdzzs" rows="2" style="width: 300px"
                          placeholder="Enter a description"></textarea>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <p style="color: white">##</p>&nbsp;
                <input cButton class="btn-secondary" type="button" value="Add To List"
                       style="text-align: center; color:white; height: 30px; line-height: 1px;"/>
              </div>
            </div>

          </div>
        </form>

        <c-card-body>
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col">Education Level</th>
              <th scope="col">Scheme</th>
              <th scope="col">Achieved on</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td><a href="#">remove</a></td>
            </tr>
            </tbody>
          </table>
        </c-card-body>

      </c-card-body>

    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-end">
          <input type="button" class="btn btn-outline-dark btn-sm" value="<<Back" (click)="redirectToBack()"/> &nbsp;
          <input cButton class="btn-sm" color="primary" type="button" value="Save All"/> &nbsp;
          <input type="button" class="btn btn-outline-dark btn-sm" value="Next>>" (click)="redirectToNext()"/>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">Education Level</th>
            <th scope="col">Scheme</th>
            <th scope="col">Achieved on</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>


