<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong><< Industry Name >></strong>
      </c-card-header>
      <c-card-body>
        <c-form-check>
          <input id="checkOne" type="checkbox" style="cursor: pointer"/>
          <label cFormCheckLabel for="checkOne">Infor</label>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <input id="checkTwo" type="checkbox" style="cursor: pointer"/>
          <label cFormCheckLabel for="checkTwo">CMS (pvt) Ltd.</label>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <input id="checkThree" type="checkbox" style="cursor: pointer"/>
          <label cFormCheckLabel for="checkThree">Sumathi</label>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <input id="checkFour" type="checkbox" style="cursor: pointer"/>
          <label cFormCheckLabel for="checkFour">Epic Tech</label>
        </c-form-check>
      </c-card-body>

    </c-card>

    <div class="d-flex justify-content-end mt-3">
      <input cButton class="me-1" color="primary" type="button" value="Create">
      <input cButton class="me-1" color="success" type="submit" value="Reset" style="color: white">
      <input cButton class="me-1" color="danger" type="button" value="Close" style="color: white">
    </div>
  </c-col>

</c-row>
