<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Job.Ref.No</th>
            <th scope="col">Position & Employer</th>
            <th scope="col">Open date</th>
            <th scope="col">Close date</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
