<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong>Achievements</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="row">

            <input id="id_job_category" type="hidden">

            <div class="col-md-4">
              <div class="mb-2">
                <label cLabel>Achievements</label>
                <textarea cFormControl
                          id="jobsdzzs" rows="6" cols="30" style="width: 600px"
                          placeholder="Write your achievements"></textarea>
              </div>
            </div>

          </div>
        </form>

      </c-card-body>

    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-end">
          <input type="button" class="btn btn-outline-dark btn-sm" value="<<Back" (click)="redirectToBack()"/> &nbsp;
          <input cButton class="btn-sm" color="primary" type="button" value="Save All"/> &nbsp;
          <input type="button" class="btn btn-outline-dark btn-sm" value="Next>>" (click)="redirectToNext()"/>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>


