<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong>Higher Education</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="row">

            <input id="id_job_category" type="hidden">

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Institute of study</label>
                <input cFormControl
                       id="job_catsegory_name"
                       placeholder="Enter an institute"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Affiliated institute</label>
                <input cFormControl
                       id="job_catsegorys_name"
                       placeholder="Enter an affiliated institute"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Award type</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_cateuss">
                  <option value="-1">Select an award type</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Qualification/Title</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_cateswuss">
                  <option value="-1">Select an qualification</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Area of study</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_casdteswuss">
                  <option value="-1">Select an area of study</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Commenced date</label>
                <input cFormControl
                       id="job_cadsssteds"
                       type="Date"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Completion date</label>
                <input cFormControl
                       id="job_cafdssteds"
                       type="Date"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Student ID</label>
                <input cFormControl
                       id="jobs_name"
                       placeholder="Enter student id"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Result</label>
                <input cFormControl
                       id="jobs_sdme"
                       placeholder="Enter result"
                       type="text"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Medium</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_csdswuss">
                  <option value="-1">Select a medium</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Country</label>
                <select aria-label="Small select example" cSelect class="mb-3"
                        id="job_csdwuss">
                  <option value="-1">Select a country</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-2">
                <label cLabel>Description</label>
                <textarea cFormControl
                          id="jobsdzzs" rows="2" style="width: 300px"
                          placeholder="Enter a description"></textarea>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <p style="color: white">##</p>&nbsp;
                <input cButton class="btn-secondary" type="button" value="Add To List"
                       style="text-align: center; color:white; height: 30px; line-height: 1px;"/>
              </div>
            </div>

          </div>
        </form>

        <c-card-body>
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col">Qualification/Award</th>
              <th scope="col">Title</th>
              <th scope="col">Area of study</th>
              <th scope="col">Completed on</th>
              <th scope="col">Institute</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td>ddd</td>
              <td><a href="#">remove</a></td>
            </tr>
            </tbody>
          </table>
        </c-card-body>

      </c-card-body>

    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-end">
          <input type="button" class="btn btn-outline-dark btn-sm" value="<<Back" (click)="redirectToBack()"/> &nbsp;
          <input cButton class="btn-sm" color="primary" type="button" value="Save All"/> &nbsp;
          <input type="button" class="btn btn-outline-dark btn-sm" value="Next>>" (click)="redirectToNext()"/>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">Qualification/Award</th>
            <th scope="col">Title</th>
            <th scope="col">Area of study</th>
            <th scope="col">Completed on</th>
            <th scope="col">Institute</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>


