<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-header>
        <strong>Higher Education</strong>
      </c-card-header>
      <c-card-body>
        <form [formGroup]="higherEducationForm" cForm>
          <div class="row">
            <input
              id="idHigherEducation"
              type="hidden"
              formControlName="idHigherEducation"
            />

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Institute of study</label>
                <input
                  cFormControl
                  id="instituteOfStudy"
                  formControlName="instituteOfStudy"
                  placeholder="Enter an institute"
                  type="text"
                />
              </div>

              <!-- Display error messages for institute of study field -->
              <div
                *ngIf="
                  higherEducationForm.get('instituteOfStudy').errors
                    ?.required &&
                  higherEducationForm.get('instituteOfStudy').touched
                "
              >
                <p class="form-validation">Industry of study is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Affiliated institute</label>
                <input
                  cFormControl
                  id="affiliatedInstitute"
                  formControlName="affiliatedInstitute"
                  placeholder="Enter an affiliated institute"
                  type="text"
                />
              </div>

              <!-- Display error messages for affiliated institute field -->
              <div
                *ngIf="
                  higherEducationForm.get('affiliatedInstitute').errors
                    ?.required &&
                  higherEducationForm.get('affiliatedInstitute').touched
                "
              >
                <p class="form-validation">Affiliated institute is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Award type</label>
                <select
                  aria-label="Small select example"
                  cSelect
                  class="mb-3"
                  formControlName="awardType"
                >
                  <option value="-1">Select an award type</option>
                  <option value="HIGHER_NATIONAL_DEP">Diploma</option>
                  <option value="DEGREE">Degree</option>
                  <option value="MASTERS">Masters</option>
                  <option value="DOCTORATE">Doctorate</option>
                  <option value="PROFESSIONAL">Professional</option>
                  <option value="CERTIFICATE">Certificate</option>
                </select>
              </div>

              <!-- Display error messages for awardType field -->
              <div
                *ngIf="
                  higherEducationForm.get('awardType').errors?.required &&
                  higherEducationForm.get('awardType').touched
                "
              >
                <p class="form-validation">AwardType is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Qualification/Title</label>
                <select
                  aria-label="Small select example"
                  cSelect
                  class="mb-3"
                  formControlName="idHigherEduQualification"
                >
                  <option value="-1">Select an qualification</option>
                  <option
                    *ngFor="
                      let higherEduQualification of higherEduQualifications
                    "
                    [value]="higherEduQualification.id"
                  >
                    {{ higherEduQualification.name }}
                  </option>
                </select>
              </div>

              <!-- Display error messages for Higher education qualification field -->
              <div
                *ngIf="
                  higherEducationForm.get('idHigherEduQualification').errors
                    ?.required &&
                  higherEducationForm.get('idHigherEduQualification').touched
                "
              >
                <p class="form-validation">
                  Higher education qualification is required.
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Area of study</label>
                <select
                  aria-label="Small select example"
                  cSelect
                  class="mb-3"
                  formControlName="idAreaOfStudy"
                >
                  <option value="-1">Select an area of study</option>
                  <option
                    *ngFor="let areaOfStudy of areaOfStudies"
                    [value]="areaOfStudy.id"
                  >
                    {{ areaOfStudy.name }}
                  </option>
                </select>
              </div>

              <!-- Display error messages for area Of Study field -->
              <div
                *ngIf="
                  higherEducationForm.get('idAreaOfStudy').errors?.required &&
                  higherEducationForm.get('idAreaOfStudy').touched
                "
              >
                <p class="form-validation">Area Of Study is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Commenced date</label>
                <input
                  cFormControl
                  formControlName="commencedDate"
                  type="Date"
                />
              </div>

              <!-- Display error messages for commencedDate field -->
              <div
                *ngIf="
                  higherEducationForm.get('commencedDate').errors?.required &&
                  higherEducationForm.get('commencedDate').touched
                "
              >
                <p class="form-validation">Commenced Date is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Completion date</label>
                <input
                  cFormControl
                  formControlName="completionDate"
                  type="Date"
                />
              </div>

              <!-- Display error messages for completionDate field -->
              <div
                *ngIf="
                  higherEducationForm.get('completionDate').errors?.required &&
                  higherEducationForm.get('completionDate').touched
                "
              >
                <p class="form-validation">Completion Date is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Student ID</label>
                <input
                  cFormControl
                  formControlName="studentId"
                  placeholder="Enter student id"
                  type="text"
                />
              </div>

              <!-- Display error messages for studentId field -->
              <div
                *ngIf="
                  higherEducationForm.get('studentId').errors?.required &&
                  higherEducationForm.get('studentId').touched
                "
              >
                <p class="form-validation">Student Id is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Result</label>
                <input
                  cFormControl
                  formControlName="result"
                  placeholder="Enter result"
                  type="text"
                />
              </div>

              <!-- Display error messages for result field -->
              <div
                *ngIf="
                  higherEducationForm.get('result').errors?.required &&
                  higherEducationForm.get('result').touched
                "
              >
                <p class="form-validation">Result is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Course taught in</label>
                <select
                  aria-label="Small select example"
                  cSelect
                  class="mb-3"
                  formControlName="idLanguage"
                >
                  <option value="-1">Select a medium</option>
                  <option
                    *ngFor="let language of languages"
                    [value]="language.idLanguage"
                  >
                    {{ language.languageName }}
                  </option>
                </select>
              </div>

              <!-- Display error messages for idLanguage field -->
              <div
                *ngIf="
                  higherEducationForm.get('idLanguage').errors?.required &&
                  higherEducationForm.get('idLanguage').touched
                "
              >
                <p class="form-validation">Language is required.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-2">
                <label cLabel>Country</label>
                <select
                  aria-label="Small select example"
                  cSelect
                  class="mb-3"
                  formControlName="idCountry"
                >
                  <option value="-1">Select a country</option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.idCountry"
                  >
                    {{ country.countryName }}
                  </option>
                </select>
              </div>

              <!-- Display error messages for idCountry field -->
              <div
                *ngIf="
                  higherEducationForm.get('idCountry').errors?.required &&
                  higherEducationForm.get('idCountry').touched
                "
              >
                <p class="form-validation">Country is required.</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-2">
                <label cLabel>Description</label>
                <textarea
                  cFormControl
                  formControlName="description"
                  rows="2"
                  style="width: 300px"
                  placeholder="Enter a description"
                ></textarea>
              </div>

              <!-- Display error messages for description field -->
              <div
                *ngIf="
                  higherEducationForm.get('description').errors?.required &&
                  higherEducationForm.get('description').touched
                "
              >
                <p class="form-validation">Description is required.</p>
              </div>
            </div>

            <div class="col-md-4" style="padding-left: 20px">
              <div class="mb-2">
                <label cLabel style="color: white">Description</label
                ><br /><br />
                <input
                  cButton
                  class="btn-secondary"
                  type="button"
                  value="Add To List"
                  style="
                    text-align: center;
                    color: white;
                    height: 30px;
                    line-height: 1px;
                  "
                  (click)="higherEducationForTempListTable()"
                />
              </div>
            </div>
          </div>
        </form>

        <c-card-body>
          <ng-container *ngIf="emptyListErrorVisible">
            <div class="error-message" style="color: red">
              The higher education cart table is empty.
            </div>
          </ng-container>

          <table [striped]="true" cTable>
            <thead>
              <tr>
                <th scope="col">Qualification/Award</th>
                <th scope="col">Title</th>
                <th scope="col">Area of study</th>
                <th scope="col">Completed on</th>
                <th scope="col">Institute</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tempList of tempList; let i = index">
                <td>{{ tempList.awardTypeValue }}</td>
                <td>{{ tempList.higherEduQualification }}</td>
                <td>{{ tempList.areaOfStudy }}</td>
                <td>{{ tempList.completionDate }}</td>
                <td>{{ tempList.instituteOfStudy }}</td>
                <td><a (click)="removeTempItem(i)">remove</a></td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="d-flex justify-content-end">
          <input
            type="button"
            class="btn btn-outline-dark btn-sm"
            value="<<Back"
            (click)="redirectToBack()"
          />
          &nbsp;

          <Button
            cButton
            class="me-1"
            color="success"
            size="sm"
            mat-button
            style="color: white"
            [hidden]="!showSaveButton"
            (click)="createOrModifyCommonProfileDraft()"
            >&nbsp;Save&nbsp;
          </Button>

          <Button
            cButton
            class="me-1"
            color="info"
            size="sm"
            mat-button
            style="color: white"
            [hidden]="!showUpdateButton"
            (click)="createOrModifyCommonProfileDraft()"
            >Update </Button
          >&nbsp;

          <input
            type="button"
            class="btn btn-outline-dark btn-sm"
            value="Next>>"
            (click)="redirectToNext()"
          />
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
            <tr>
              <th scope="col">Qualification/Award</th>
              <th scope="col">Title</th>
              <th scope="col">Area of study</th>
              <th scope="col">Completed on</th>
              <th scope="col">Institute</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let higherEdu of tableList">
              <td>{{ higherEdu.awardTypeValue }}</td>
              <td>{{ higherEdu.higherEduQualification }}</td>
              <td>{{ higherEdu.areaOfStudy }}</td>
              <td>{{ higherEdu.completionDate }}</td>
              <td>{{ higherEdu.instituteOfStudy }}</td>
              <td>
                <Button
                  cButton
                  class="me-1"
                  color="primary"
                  value="Edit"
                  size="sm"
                  mat-button
                  (click)="editHigherEducation(higherEdu)"
                  >Edit
                </Button>
                <Button
                  cButton
                  class="me-1"
                  color="danger"
                  value="Delete"
                  size="sm"
                  mat-button
                  style="color: white"
                  (click)="deleteHigherEducation(higherEdu)"
                >
                  Delete
                </Button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
